html {
  background-color: gray;
  height: 100%
}
body {
  background-color: aqua;
  margin: auto;
  height: 100%;
  width: 600px;
  padding: 10px;
}

fieldset {
  border: 3px solid black;
}
h2 {
  border-bottom: 3px dashed black;
}
