
h1 {color: red; width: 50%; height: 100px; font-size: 15; font-family:helvetica;}
p {font-size: 10; font-family:helvetica; text-decoration: underline;}
h1, article {
  width: 300px;
  height: 100px;
  padding: 10px;
  border-bottom: 1px
  border-width: 5px;
  border-style: solid;
  border-color: blue;
}
